
.poomaalai-container {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}
.poomaalai-logo {
    max-width: 200px;
    display: inline;
    margin-bottom: 20px;
}
