
.poomaalai-container {
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
}
.poomaalai-logo {
    max-width: 200px;
    display: inline;
    margin-bottom: 20px;
}
.input-container {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    display: flex;
    
}
.error-message {
    width: 500px;
    color: red;
    font-size: 0.8em;
    margin-right: 10px;
    display: inline;

}
.input-container input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
