<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Creator Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>

<body>
    <div class="poomaalai-container">
        <img th:src="@{/images/poomaalai_logo.jpg}" alt="Poomaalai Logo" class="poomaalai-logo">
        <h1>Creator Login</h1>
        <div th:if="${alreadyRegistered}">
            <p>You are already registered. Please log in.</p>
        </div>

        <form action="#" th:action="@{/creator/login}" method="post">
            <input type="text" name="username" placeholder="email" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Login</button>
        </form>

        <p>Don't have an account?</p>
        <a th:href="@{/creator/register}">Register as a new creator</a>
        <div th:if="${loginError}">
            <p>Login error! Please call support</p>
        </div>
    </div>
</body>

</html>