<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creator Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
    <h1>Creator Login</h1>
    <div>
    <form action="#" th:action="@{/creator/login}" method="post">
        <input type="text" name="username" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Login</button>
    </form>
    </div>
    <div th:if="${param.error}">
        <p th:text="'Error: ' + ${param.error}"></p>
    </div>
</body>
</html>
