<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}  ">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>

<body>
    <div class="poomaalai-container">
        <img th:src="@{/images/poomaalai_logo.jpg}" alt="Poomaalai Logo" class="poomaalai-logo">
        <h1>Creator Store Search</h1>
        <form action="#" th:action="@{/creator-store/search}" method="get">
            <input type="text" name="zipcode" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
        <!-- Display search results if available -->
        <div th:if="${creatorStoreDtos != null and not #lists.isEmpty(creatorStoreDtos)}">
            <h3>Creators:</h3>
            <div th:unless="${creatorStoreDtos.isEmpty()}">
                     <ul th:each="store : ${creatorStoreDtos}">
                          <li>
                                <span th:text="${store.name}"></span>
                                <span> - </span>
                                <span th:text="${store.address}"></span>
                                <span th:text="' ' + ${store.zipcode}"></span>
                          </li>
                          <li>
                                <a th:if="${store.instagramHandle != null and store.instagramHandle != ''}"
                                    th:href="@{https://www.instagram.com/{handle}(handle=${store.instagramHandle})}" target="_blank">Instagram</a>
                                <span th:if="${store.instagramHandle != null and store.instagramHandle != ''}"> | </span>
                                <a th:if="${store.facebookHandle != null and store.facebookHandle != ''}"
                                    th:href="@{https://www.facebook.com/{handle}(handle=${store.facebookHandle})}" target="_blank">Facebook</a>
                                <span th:if="${store.facebookHandle != null and store.facebookHandle != ''}"> | </span>
                                <a th:if="${store.youtubeHandle != null and store.youtubeHandle != ''}"
                                    th:href="@{https://www.youtube.com/{handle}(handle=${store.youtubeHandle})}" target="_blank">YouTube</a>
                                <span th:if="${store.youtubeHandle != null and store.youtubeHandle != ''}"> | </span>
                                <a th:if="${store.phone != null and store.phone != ''}"
                                    th:href="@{https://api.whatsapp.com/send?(phone=${store.phone})}" target="_blank">WhatsApp</a>
                          </li>
                     </ul>
            </div>
        </div>
        <!-- Display message if no results found but a query was made -->
        <div th:if="${creatorStoreDtos != null and #lists.isEmpty(creatorStoreDtos)}">
            <p>No results found for query: <strong th:text="${param.zipcode}"></strong></p>
        </div>
    </div>
</body>

</html>